.widget-content {
    position: relative;
    padding: 10px;

    &.hidden {
        display: none;
    }
}

.dro-display {
    color: #f8fbff;
    background: rgba(5, 12, 23, .74);
    border: 1px solid rgba(82, 112, 154, .32);
    border-radius: 5px;
    text-align: right;
    padding: 5px 10px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}
.dro-btn-group {
    margin-left: 5px;
}

.panel {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}
.panel-heading:hover {
    background-color: rgba(47, 129, 247, .12);
}
