.icon
  vertical-align: top
  display: inline-block
  width: 48px
  height: 48px
  background-repeat: no-repeat

.error
  background-image: url(./icon-error-48.png)

.warning
  background-image: url(./icon-warning-48.png)

.info
  background-image: url(./icon-info-48.png)

.success
  background-image: url(./icon-success-48.png)
